.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

body {
  display: flex;
  background-color: gainsboro;
  flex-direction: row;
  justify-content: center;
  font-family: Inter;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  height: 50px;
  width: 200px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  transition: transform 0.5s ease, background-color 0.5s, color 0.5s,
    height 0.5s, width 0.5s;
}

.card:hover {
  height: 60px;
  width: 210px;
  color: white;
  background-color: rgb(42, 108, 124);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  transform: scale(1.02);
}

a {
  text-decoration: none;
  color: black;
}
