@font-face {
  font-family: "Figtree";
  src: url("assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Figtree-medium";
  src: url("assets/fonts/static/Figtree-Medium.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

body {
  background-color: #f4d04e;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

* {
  margin: 0px;
}

.card {
  width: 384px;
  height: 505px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  box-shadow: 8px 8px;
  border: 1px solid black;
}

.bannerimage {
  border-radius: 10px;
  width: auto;
  height: 200px;
  margin: 24px;
}

.learningbutton {
  width: 82px;
  height: 29px;
  border: none;
  background-color: #f4d04e;
  margin-left: 24px;
  border-radius: 4px;
  font-family: Figtree;
  font-size: 14px;
  transition: ease transform 0.5s, background-color 0.5s, color 0.5s;
}

.learningbutton:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #111111;
  color: #f4d04e;
}

#line {
  font-family: Figtree-medium;
  font-size: 14px;
  margin: 12px 24px;
}

#headline {
  font-family: Figtree;
  font-size: 24;
  margin: 12px 24px;
  transition: ease color 0.5s, transform 0.5s;
}

#headline:hover {
  color: #f4d04e;
  transform: scale(1.05);
}

#paragraph {
  font-family: Figtree-medium;
  font-size: 16px;
  margin: 12px 24px;
  color: #6b6b6bff;
}

.bottompart {
  display: flex;
  width: 150px;
  height: 32px;
  gap: 10px;
  align-items: center;
  margin: 24px 24px;
}

.container {
  display: flex;
  align-items: center;
}

.container > img {
  width: 32px;
}

.username > p {
  font-family: Figtree;
  font-size: 14;
}

@media screen and (max-width: 375px) {
  .card {
    width: 327px;
    height: 490px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 8px 8px;
  }

  .bannerimage {
    border-radius: 10px;
    width: 279px;
    height: 200px;
    object-fit: cover;
  }

  .learningbutton {
    width: 73px;
    height: 26px;
    border: none;
    background-color: #f4d04e;
    border-radius: 4px;
    font-family: Figtree;
    font-size: 12px;
  }

  /*  */
  #line {
    font-family: Figtree-medium;
    font-size: 12px;
  }

  #headline {
    font-family: Figtree;
    font-size: 20;
  }

  #paragraph {
    font-family: Figtree-medium;
    font-size: 14px;
    color: #6b6b6bff;
  }

  .bottompart {
    width: 150px;
    height: 32px;
    gap: 10px;
  }
}

a {
  text-decoration: none;
  color: black;
}
